// Variables

// Gray and Brand Colors for use across theme

$theme-default: #30697d;
$blue: $theme-default;
$orange: #fbb44c;
$pink: #FC797A;
$green: #2ABB9B;
$brown: #795548;
$purple: #673AB7;

$light-grey: #d9d9dd;
$light-grey-text: #bbbcc5;